<launch>
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="camera_fwd/depth/color/points"/>
        <remap from="scan" to="camera_fwd/depth/color/scan"/>

        <rosparam>
            target_frame: camera_fwd_depth_frame 
            transform_tolerance: 0.01
            min_height: -0.25
            max_height:  0.4

            angle_min: -3.14 # -M_PI
            angle_max:  3.14 # M_PI
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.3333
            range_min: 0.2
            range_max: 100
            use_inf: true

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>
    </node>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="safety_from_depth_image" type="scan_min_distance.py" name="scan_min_distance">

        <remap from="status" to="safety/tower_status"/>
        <remap from="min" to="safety/tower_distance_min"/>

</node>





</launch>
